.App {
text-align: center;
}

.App-header {
border: 3px solid black;
height: 80px;
padding: 20px;
}

.Amazio {
float: left;
font-size: 40px;
width: 200px;
}

img {
height: 50px;
float: right;
padding: 10px;
}